alias                     text
all                       text
attributes                text
cmd                       text
compound                  text
diff                      text
gitbash                   text
hooks/pre-commit          text
hooks/pre-merge-commit    text
hooks/prepare-commit-msg  text
linux                     text
log                       text
macos                     text
merge                     text
schemes                   text
standard                  text
unix                      text
windows                   text
wsl                       text
